[submodule "non-master-node"]
	path = non-master-node
	url = https://github.com/threadbatteryslave6996ohio-coder/telegraf-setup-playbook.git
[submodule "control-server"]
	path = control-server
	url = https://github.com/threadbatteryslave6996ohio-coder/control-server-deployment.git
